@import url(https://use.typekit.net/ano1owp.css);

#apiEnquiryForm{
	margin:0;
	font-family: skolar-sans-latin, sans-serif!important;
	font-weight: 400;
	font-style: normal;
	font-size:1.1em!important;
	padding:0px;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-radius:10px;
	background:#f0efef;
	color:#47473d;
	box-shadow:0 5px 10px 0 rgba(0,0,0,.19);
	-webkit-box-shadow:0 5px 10px 0 rgba(0,0,0,.19);
}

#apiEnquiryForm a{
	color:#0052cc;
}
#apiEnquiryForm input{
	color:#fff;
}
#apiEnquiryForm *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#apiEnquiryForm select{
	-webkit-appearance:none;
	-moz-appearance:none;
	background:url(https://www.australianlendingcentre.com.au/wp-content/uploads/2017/07/dropdown_arrow.png) 85% no-repeat #fff!important
}
#apiEnquiryForm label{
	display:block;
	color:#47473d;
	margin-bottom:11px;
	font-family: skolar-sans-latin, sans-serif!important;
	font-weight: 300;
	font-style: normal;
	font-size:1.1em!important;
	text-align: left;	
}

label[for=terms]
{
    opacity: 0;
}


#apiEnquiryForm label.radio{
	display:inline-block;
	cursor:pointer;
	background-color:#bdd631;
	padding:5px 20px;
	border:none;
	color:#47473d;
	font-family: rift-soft, sans-serif!important;
	font-weight: 600;
	font-style: normal;
	border-radius: 5px;
	letter-spacing: 1px;
	margin-top: 10px;
}

#apiEnquiryForm label.radio:hover {
background-color:#f9ed32;
	color:#074424;
	box-shadow:0 5px 10px 0 rgba(0,0,0,.19);
	-webkit-box-shadow:0 5px 10px 0 rgba(0,0,0,.19);
}

#apiEnquiryForm input[type=radio]{
	display:none
}
#apiEnquiryForm input[type=radio]:checked+label{
	background-color:#218c43;
	color: #FFF;
}
#apiEnquiryForm input[type=email],#apiEnquiryForm input[type=number],#apiEnquiryForm input[type=text],#apiEnquiryForm select,#apiEnquiryForm textarea{
	width:100%;
	padding:10px;
	background:#fff;
	font-size:1.1em;
	border:1px #D7D5D4;
	border-radius:5px;
	color:#47473d;
	font-family: skolar-sans-latin, sans-serif!important;
	font-weight: 500;
	font-style: normal;
	font-size:1em!important;
	border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #D7D5D4;
}
#apiEnquiryForm input.postCode{
	width:100%
}
#apiEnquiryForm select.landLineNumberAreaCode{
	width:25%
}
#apiEnquiryForm input.landLineNumber{
	width:70%;
	float:right
}
#apiEnquiryForm select.state{
	width:100%;
	margin-bottom:10px;
}
#apiEnquiryForm textarea{
	height:50px
}
#apiEnquiryForm input[type=button]{
	-webkit-appearance:button;
	filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#aad75b', endColorstr='#d1e990');
	background-color:#bdd631;
	border-radius:25px;
	color:#47473d;
	font-size:1.2em;
	letter-spacing: 1.7px;
	height:43px;
	line-height:43px;
	padding:0;
	border:0;
	cursor:pointer;
	font-weight:600;
	outline:0;
	overflow:hidden;
	position:relative;
	text-align:center;
	text-shadow:none;
	width:60%;
	
	margin-bottom:5px
}
#apiEnquiryForm input[type=button]:hover{
	background-color:#218c43;
	color: #FFF;
	box-shadow:0 5px 10px 0 rgba(0,0,0,.19);
	-webkit-box-shadow:0 5px 10px 0 rgba(0,0,0,.19);
}
#apiEnquiryForm input[type=button]:active{
	position:relative;
	top:1px
}
.squaredFour p{
	font-size:1em;
	color:#333;
	padding-left:3px
}
.squaredFour{
	margin:0 auto
}
.squaredFour label{
	width:14px;
	height:14px;
	margin:4px 3px
}
.squaredFour label:after{
	width:6px;
	height:3px;
	top:3px;
	left:2px
}
